nav#main-menu {
    width: 100%;
    height: 50px;
    position: fixed;
}

label#nav-label,
label#shopping-label {
    display: block;
    width: 50%;
    float: left;
    height: 50px;
    cursor: pointer;
}

label#nav-label {
    background: #A51515 url('../img/hamburger_menu.svg') no-repeat left 10px center;
    background-size: auto 100%;
}

label#shopping-label {
    background: #A51515 url('../img/shopping_menu.svg') no-repeat right 15px center;
    background-size: auto 85%;
}

div#nav-expand,
div#shop-expand {
    position: fixed;
    top: 50px;
    width: 100%;
    max-height: 0;
    transition: max-height 0.2s linear;
    overflow: hidden;
}

input#nav-expander:checked ~ #nav-expand {
    max-height: 200px;
}

div#nav-expand ul {
    list-style: none;
}

div#nav-expand a,
div#nav-expand a:visited {
    display: block;
    line-height: 50px;
    width: 100%;
    color: #fff;
    background: #A51515;
}

div#nav-expand a:hover {
    background: #212121;
}

div#logo {
    position: absolute;
    top: 70px;
    left: 0;
    background: url('../img/logo.png') center no-repeat;
    background-size: auto 90%;
    height: 220px;
    width: 100%;
    z-index: 100;
    font-size: 3em;
    color: #1B5E20;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-weight: 700;
    text-align: center;
    line-height: 420px;
}

#logo span,
#logo strong {
    display: none;
}

section.container {
    position: relative;
    margin: -120px auto 0 auto;
    width: 96%;
    height: 800px;
    z-index: 100;
}

article#featured {
    width: 100%;
    overflow-x: auto;
}

.featured-col {
    width: 80%;
}

.col-25,
.col-33,
.col-50,
.col-66,
.col-75,
.col-100 {
    width: 100%;
}
