* {
    box-sizing: border-box;
}

body, div, ul, table, form, fieldset, legend {
    margin: 0;
    padding: 0;
}

body {
    background: #EEEEEE;
    font: 12pt Arial, 'Helvetica Neue', Helvetica, sans-serif;
    height: 100%;
}

nav#main-menu {
    position: absolute;
    background: #A51515;
    width: 100%;
    height: 60px;
    z-index: 999;
    border-bottom: 2px solid #901111;
}

#nav-expander,
#shopping-expander {
    display: none;
}

#nav-expand ul {
    list-style-type: none;
}

#nav-expand a,
#nav-expand a:visited {
    display: block;
    padding: 0 30px;
    float: left;
    line-height: 60px;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
}

#nav-expand a:hover {
    background: rgba(0, 0, 0, 0.2);
}

#nav-expand li:hover {
    background: #777;
}

label#shopping-label {
    display: block;
    width: 100px;
    float: right;
    height: 100%;
    cursor: pointer;
}

label#shopping-label {
    background: url('../img/shopping_menu.svg') no-repeat right 20px center;
    background-size: auto 75%;
}

input#shopping-expander {
    display: none;
}

div#shop-expand {
    position: fixed;
    top: 60px;
    right: 0;
    width: 300px;
    max-height: 0;
    transition: max-height 0.2s linear;
    overflow: hidden;
}

input#shopping-expander:checked ~ div#shop-expand {
    max-height: 300px;
    overflow-y: auto;
}

div#shop-expand table {
    background: #ffffff;
    width: 100%;
    color: #000;

}

header {
    position: relative;
    width: 100%;
    height: 500px;
    background: url('../img/pizza-stock.jpg') no-repeat center;
    background-size: cover;
}

div#pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: url('../img/pattern-overlay2.png') repeat left top;
    opacity: 0.2;
}

div#logo {
    position: absolute;
    top: 100px;
    left: 140px;
    background: url('../img/logo.png') no-repeat;
    background-size: auto 100%;
    height: 220px;
    width: 980px;
    z-index: 100;
    color: transparent;
}

#logo span {
    padding-left: 220px;
    line-height: 140px;
    font-size: 10em;;
    color: #1B5E20;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-weight: 700;
}

#logo strong {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 6em;
    color: #901111;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

section.container {
    position: relative;
    margin: -120px auto 0 auto;
    width: 980px;
    z-index: 100;
}

article#featured {
    margin: 0 5px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: calc(100% - 10px);
    height: 210px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
}

.featured-col {
    position: relative;
    width: 25%;
    height: 210px;
    display: inline-block;
    vertical-align: top;
}

.featured-img {
    margin: 10px 5%;
    display: block;
    width: 90%;
    height: auto;
}

.featured-txt {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 3.2em;
    color: #212121;
    font-weight: 700;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

footer {
    margin: 20px auto 0 auto;
    padding: 10px;
    height: 220px;
    width: 970px;
}

ul.footer-menu {
    float: left;
    list-style: none;
    width: 23%;
}

li.footer-menu-heading {
    font-size: 1.2em;
    font-weight: 600;
}

table#cart tr:nth-child(even) {
    background: #E0E0E0;
}

table#cart * input[type=submit] {
    padding: 5px 0;
    width: 45%;
    background: #1B5E20;
    color: #fff;
    outline: 0;
    border: 0;
    cursor: pointer;
}

table#cart * input[type=submit]:hover {
    background: #2E7D32;
}

/*recycle classes*/

.col {
    float: left;
    margin: 5px;
}

.c-col {
    float: left;
    margin: 5px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.col-25 {
    width: calc(25% - 10px);
}

.col-33 {
    width: calc(33.33% - 10px);
}

.col-50 {
    width: calc(50% - 10px);
}

.col-66 {
    width: calc(66.66% - 10px);
}

.col-75 {
    width: calc(75% - 10px);
}

.col-100 {
    width: calc(100% - 10px);
}

.heading {
    margin: 5px 5px;
    padding: 5px 15px;
    width: calc(100% - 10px);
    display: block;
    background: #A51515;
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 600;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

.media-img {
    display: block;
    width: 100%;
    height: auto;
}

.snippet-img {
    padding: 6px;
    display: block;
    width: 100%;
    height: auto;
}

.text {
    box-sizing: content-box;
    padding: 3px 10px;
}

table.menu-item {
    float: left;
    margin: 8px;
    padding: 5px;
    width: calc(50% - 16px);
    background: #E0E0E0;
}

/*form styles*/
form.form-s {
    padding: 5px 10px;
}

.form-s fieldset {
    border: 0;
}

input.form-s-input {
    padding: 5px 5px;
    margin: 5px 0;
    width: 100%;
}

input.form-s-submit {
    padding: 5px 0;
    width: 100%;
    background: #1B5E20;
    color: #fff;
    outline: 0;
    border: 0;
    cursor: pointer;
}

form.form-b {
    padding: 5px 10px;
}

.form-b fieldset {
    margin: 10px 0 0 0;
    padding: 10px;
    border: 0;
    background: #EEEEEE;
}

.form-b legend {
    box-sizing: border-box;
    padding: 5px 10px;
    background: #1B5E20;
    color: #fff;
    font-size: 1.2em;
}

label.form-b-label {
    float: left;
    display: block;
    margin: 5px 0;
    padding: 0 0 0 10px;
    width: 121px;
    height: 35px;
    line-height: 35px;
    background: #1B5E20;
    color: #fff;
}

input.form-b-input {
    float: right;
    display: block;
    margin: 5px 0;
    padding: 0 0 0 10px;
    width: 480px;
    height: 35px;
    border: 1px solid #1B5E20;
}

input.form-b-submit {
    box-sizing: content-box;
    padding: 10px 0;
    width: 100%;
    background: #1B5E20;
    color: #fff;
    font-size: 1.2em;
    outline: 0;
    border: 0;
    cursor: pointer;

}

input[type=submit]:hover {
    background: #2E7D32;
}

/*table styles*/
td {
    padding: 6px 10px;
}